<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>BMI Calculator</h1>
        <form action="/calculate" method="post">
            <label for="gender">Gender:</label>
            <select name="gender" id="gender" class="input-field">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <label for="height">Height:</label>
            <input type="number" name="height" id="height" class="input-field" required>
            <select name="unit_height" id="unit_height" class="input-field">
                <option value="centimeter">Centimeter</option>
                <option value="meter">Meter</option>
                <option value="inch">Inch</option>
            </select>
            <label for="weight">Weight:</label>
            <input type="number" name="weight" id="weight" class="input-field" required>
            <select name="unit_weight" id="unit_weight" class="input-field">
                <option value="kilogram">Kilogram</option>
                <option value="pound">Pound</option>
            </select>
            <button type="submit" class="submit-button">Calculate</button>
        </form>
    </div>
</body>
</html>
